source https://api.nuget.org/v3/index.json
framework: net9.0
storage: none

nuget Expecto
nuget Fable.Elmish.Debugger
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget Feliz.Bulma
nuget Feliz.Router
nuget Zanaptak.TypedCssClasses
nuget Feliz.Markdown
nuget Feliz.UseElmish
nuget Feliz.DaisyUI
nuget Feliz.ChartJS
nuget Fable.Elmish.HMR
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Core.ReleaseNotes
nuget Fake.Tools.Git
nuget Fake.Core.UserInput

group Package
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0

    nuget Feliz
